.controls {
  background-color: lightblue;
  margin: 0;
  padding: 10px;
}
.controls h1 {
  text-align: center;
}

.controls input,
button {
  padding: 7px;
  margin: 5px;
}

h1 {
  text-align: center;
}

.kanban-board {
  display: flex;
}
.kanban-stage {
  margin: 10px;
  padding: 8px;
  background-color: whitesmoke;
  width: 150px;
  text-align: center;
}
.kanban-task {
  border: 1px solid;
  padding: 3px;
  margin-top: 10px;
  cursor: pointer;
}
.taskMessage {
  padding-left: 10px;
  color: red;
}
